@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@700&family=Roboto+Slab:wght@400;700&family=Space+Mono:ital,wght@0,400;0,700&display=swap");
@import "tailwindcss";

@theme {
  --color-blue-950: #14172e;
  --color-blue-900: #161932;
  --color-blue-850: #18213f;
  --color-blue-100: #d7e0ff;
  --color-blue-50: #eff1fa;

  --color-gray-400: #b8bdcb;
  --color-gray-200: #e4e2e2;

  --color-cyan-500: #70f3f8;
  --color-red-400: #f87070;
  --color-purple-400: #d681f8;

  --background-image-main-gradient: linear-gradient(to right, #2e325a, #0f112a);

  --font-kumbh: "Kumbh Sans", sans-serif;
  --font-roboto: "Roboto Slab", serif;
  --font-space: "Space Mono", monospace;

  --text-preset-1: 100px;
  --text-preset-1-mobile: 72px;

  --text-preset-2: 16px;
  --text-preset-2-mobile: 14px;

  --text-preset-3: 14px;
  --text-preset-3-mobile: 12px;

  --text-preset-space-3: 13px;

  --text-setting-1: 28px;
  --text-setting-2: 13px;
  --text-setting-3: 11px;
  --text-setting-4: 12px;

  --leading-115: 1.15;
  --leading-120: 1.2;
  --leading-125: 1.25;
  --leading-130: 1.3;
  --leading-133: 1.33;
  --leading-135: 1.35;
  --leading-145: 1.45;
  --leading-150: 1.5;
  --leading-200: 2;

  --tracking-minus-10: -10px;
  --tracking-minus-5: -5px;
  --tracking-minus-02: -0.2px;
  --tracking-minus-025: -0.25px;

  --tracking-0: 0px;

  --tracking-2: 2px;
  --tracking-25: 2.5px;
  --tracking-5: 5px;
  --tracking-15: 15px;
}
@layer base {
  :root {
    --accent-color: #f87070;
  }
  body {
    @apply bg-blue-850 font-kumbh min-h-screen;
  }
  button,
  li {
    cursor: pointer;
  }
  hr {
    @apply h-px bg-gray-200 border-0;
  }
}
@layer components {
  .mode-item {
    @apply text-blue-100 w-full h-full font-bold rounded-[27.5px] min-w-[105px] md:min-w-30 flex justify-center items-center text-preset-3-mobile md:text-preset-3 leading-125;
  }
  .mode-item.active {
    background-color: var(--accent-color);
    @apply text-blue-850;
  }
  .main-gradient {
    background: linear-gradient(to left, #2e325a, #0f112a);
  }
  .main-shadow {
    box-shadow: -50px -50px 100px 0 #272c5a, 50px 50px 100px 0 #121530;
  }
  .font-selector,
  .color-selector {
    @apply w-10 h-10 bg-blue-50 rounded-full flex items-center justify-center text-blue-850 text-setting-2 font-bold leading-125;
  }
  .font-selector.active {
    @apply bg-blue-900 text-white;
  }
  .menu-overlay {
    @apply fixed inset-0 bg-black/50 z-40 opacity-0 pointer-events-none transition-opacity duration-300;
  }
  .accent-bg {
    background-color: var(--accent-color);
  }
  .accent-stroke {
    stroke: var(--accent-color);
  }
  .color-selector svg {
    opacity: 0;
  }
  .color-selector.active svg {
    opacity: 1;
  }
}
